In [27]:
import csv
import uncertainties.unumpy as unp
import pandas
from uncertainties import ufloat
import time

In [28]:

df = pandas.read_csv('Parametryspojky.csv')

In [43]:
import time

df['fl'] = (df.iloc[:, 0] * df.iloc[:, 1])/(df.iloc[:, 0] - df.iloc[:, 1])
average_sum = df['fl'].mean()

std_dev_sum = df['fl'].std()
f = ufloat(average_sum, std_dev_sum)
print('f =', f)


df['fl2'] = (df.iloc[:, 0] * df.iloc[:, 2])/(1 - df.iloc[:, 2])
sum = df['fl2'].mean()
std_dev = df['fl2'].std()
f2 = ufloat(sum, std_dev)
print('f2 =', f2)

df['fl3'] = ((-1*df.iloc[:, 0] + df.iloc[:, 1])**2 - df.iloc[:,3]**2)/(4*(-df.iloc[:, 0] + df.iloc[:, 1]))
sum = df['fl3'].mean()
std_dev = df['fl3'].std()
f3 = ufloat(sum, std_dev)
print('f3 =', f3)


print(df)
df = df.round(2)
print(latex_table)

f = (-3.9+/-1.3)e+02
f2 = -71.14+/-0.05
f3 = 1.0+/-1.7
        A     A'      R      a     a'          fl        fl2       fl3
0   69.85  96.10  52.50  17.35  43.60 -255.717524 -71.206311  3.695619
1   69.85  92.70  53.20  16.65  39.50 -283.373961 -71.188123  2.679431
2   69.85  91.25  53.60  16.25  37.65 -297.841706 -71.177947  2.265158
3   69.85  89.15  54.00  15.85  35.15 -322.649093 -71.167925  1.570823
4   69.85  88.00  54.65  15.20  33.35 -338.666667 -71.151957  1.355131
5   69.85  86.50  55.00  14.85  31.50 -362.884384 -71.143519  0.851351
6   69.85  85.00  55.80  14.05  29.20 -391.897690 -71.124635  0.530033
7   69.85  82.00  56.50  13.35  25.50 -471.415638 -71.108559 -0.629630
8   69.85  80.00  57.85  12.00  22.15 -550.541872 -71.078672 -1.009298
9   69.85  78.00  58.75  11.10  19.25 -668.503067 -71.059524 -1.741948
10    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
11    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
12    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
13    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
14    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
15    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
16    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
17    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
18    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
19    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
20    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
21    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
22    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
23    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
24    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
25    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
26    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
27    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
28    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
29    NaN    NaN    NaN    NaN    NaN         NaN        NaN       NaN
\begin{tabular}{rrrrrrr}
\toprule
a & a' & Beta & Delta & fl & fl2 & fl3 \\
\midrule
-20.750000 & 71.400000 & -3.300000 & 49.000000 & 16.080000 & 15.920000 & 16.520000 \\
-21.300000 & 66.700000 & -3.000000 & 43.500000 & 16.140000 & 15.980000 & 16.620000 \\
-21.600000 & 62.400000 & -2.760000 & 39.100000 & 16.050000 & 15.860000 & 16.450000 \\
-22.500000 & 57.500000 & -2.430000 & 33.250000 & 16.170000 & 15.940000 & 16.550000 \\
-23.450000 & 52.550000 & -2.130000 & 27.350000 & 16.210000 & 15.960000 & 16.540000 \\
-24.850000 & 47.150000 & -1.810000 & 21.000000 & 16.270000 & 16.010000 & 16.470000 \\
-25.000000 & 46.000000 & -1.770000 & 19.000000 & 16.200000 & 15.970000 & 16.480000 \\
-26.400000 & 42.600000 & -1.550000 & 14.800000 & 16.300000 & 16.050000 & 16.460000 \\
-26.650000 & 41.350000 & -1.480000 & 12.400000 & 16.210000 & 15.900000 & 16.430000 \\
-34.250000 & 33.650000 & -1.000000 & 0.000000 & 16.970000 & 17.120000 & 16.980000 \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
\bottomrule
\end{tabular}

In [45]:
df = pandas.read_csv('Parametryrozptylky.csv')
print (df)

        A     A'      R      a     a'
0   69.85  96.10  52.50  17.35  43.60
1   69.85  92.70  53.20  16.65  39.50
2   69.85  91.25  53.60  16.25  37.65
3   69.85  89.15  54.00  15.85  35.15
4   69.85  88.00  54.65  15.20  33.35
5   69.85  86.50  55.00  14.85  31.50
6   69.85  85.00  55.80  14.05  29.20
7   69.85  82.00  56.50  13.35  25.50
8   69.85  80.00  57.85  12.00  22.15
9   69.85  78.00  58.75  11.10  19.25
10    NaN    NaN    NaN    NaN    NaN
11    NaN    NaN    NaN    NaN    NaN
12    NaN    NaN    NaN    NaN    NaN
13    NaN    NaN    NaN    NaN    NaN
14    NaN    NaN    NaN    NaN    NaN
15    NaN    NaN    NaN    NaN    NaN
16    NaN    NaN    NaN    NaN    NaN
17    NaN    NaN    NaN    NaN    NaN
18    NaN    NaN    NaN    NaN    NaN
19    NaN    NaN    NaN    NaN    NaN
20    NaN    NaN    NaN    NaN    NaN
21    NaN    NaN    NaN    NaN    NaN
22    NaN    NaN    NaN    NaN    NaN
23    NaN    NaN    NaN    NaN    NaN
24    NaN    NaN    NaN    NaN    NaN
25    NaN    NaN    NaN    NaN    NaN
26    NaN    NaN    NaN    NaN    NaN
27    NaN    NaN    NaN    NaN    NaN
28    NaN    NaN    NaN    NaN    NaN
29    NaN    NaN    NaN    NaN    NaN

In [ ]:
df['fl'] = (df.iloc[:, 3] * df.iloc[:, 4])/(df.iloc[:, 3] - df.iloc[:, 4])

average_sum = df['fl'].mean()
std_dev_sum = df['fl'].std()
f = ufloat(average_sum, std_dev_sum)
print('f =', f)
print (df)
df = df.round(2)
latex_table = df.to_latex()
print(latex_table)

In [83]:
z = ufloat(34.954,0.015)
r =z/2
f1 = ufloat (162.6,2.6)
f2 = ufloat (-279,10)
print(r)
h1 = ufloat(1.84,0.0003)
h2 = ufloat(0.001,0.0002)
r1 = (r**2 + h1**2)/(2*h1)
r2 = (r**2 + h2**2)/(2*h2)
print(r1)
print(r2)

h4 = ufloat(0.507,0.0004)
h3 = ufloat(0.508,0.0003)

r3 = (r**2 + h3**2)/(2*h3)
r4 = -(r**2 + h4**2)/(2*h4)
print(r3)
print(r4)

n = 1 + 1/(f1)/(1/r1 - 1/r2)
n2 = 1 + 1/(f2)/(1/r4 - 1/r3)
print(n)
print(n2)

17.477+/-0.007
83.92+/-0.07
(1.53+/-0.31)e+05
300.89+/-0.31
-301.48+/-0.35
1.516+/-0.008
1.540+/-0.019